@page
@model ProyectoArqSoft.Pages.Auth.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Login - Farmacia VitalCare</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <img src="~/images/vitalcare.png" class="logo" />
            <h2>Farmacia VitalCare</h2>

            <form method="post">

                <input type="text"
                       asp-for="LoginRequest.EmailOUserName"
                       placeholder="Usuario o Email"
                       required />

                <input type="password"
                       asp-for="LoginRequest.Password"
                       placeholder="Contraseña"
                       required />

                @if (!string.IsNullOrWhiteSpace(Model.MensajeError))
                {
                    <div style="color:red; margin-bottom:10px;">
                        @Model.MensajeError
                    </div>
                }

                <button type="submit">Ingresar</button>
            </form>
        </div>
    </div>
</body>
</html>