@page
@model ProyectoArqSoft.Pages.BioquimicoCreateModel
@{
    ViewData["Title"] = "Registrar Bioquímico";
}

<section class="section">
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-6 col-md-8">

                <div class="card-module">

                    <h3 class="text-center mb-4 text-success">
                        🧪 Registrar Bioquímico
                    </h3>

                    <form method="post" asp-page-handler="CrearBioquimico">

                        <div class="mb-3">
                            <label class="form-label">Nombres</label>
                            <input asp-for="Nombres" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Apellido Paterno</label>
                            <input asp-for="ApellidoPaterno" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Apellido Materno</label>
                            <input asp-for="ApellidoMaterno" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">CI</label>
                            <input asp-for="Ci" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Extensión CI</label>
                            <input asp-for="CiExtencion" class="form-control" />
                        </div>

                        <div class="mb-4">
                            <label class="form-label">Teléfono</label>
                            <input asp-for="Telefono" class="form-control" />
                        </div>

                        @if (!string.IsNullOrEmpty(Model.Estado.MensajeError))
                        {
                            <div class="alert alert-danger">
                                @Model.Estado.MensajeError
                            </div>
                        }

                        <div class="d-flex justify-content-between">

                            <a asp-page="/Bioquimico/Bioquimico"
                               class="btn btn-outline-secondary">
                                Volver
                            </a>

                            <button type="submit" class="btn-main">
                                Guardar Bioquímico
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>
</section>
